body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.title, .lineUpDancerButton, .addDancerButton{
  padding:5px 12px;
  float:right;
}

/* BACKGROUND */

.bg {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* DANCERS */

.dancer{
  position: absolute;
  width: 10%;
  aspect-ratio: 1 / 1;
}

#pitou{
  z-index: 3;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pitou .head{
  z-index: 4;
  height: 50%;
  width: auto;
  position: absolute;
  margin-bottom: 94%;
}

#pitou .body{
  z-index: 3;
  height: 100%;
  width: auto;
  position: absolute;
}

#kite{
  z-index: 1;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#kite .head{
  z-index: 2;
  height: 50%;
  width: auto;
  position: absolute;
  margin-bottom: 97%;
  margin-right: 5%;
}
#kite .body{
  z-index: 1;
  height: 100%;
  width: auto;
  position: absolute;
}
